<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Since 2014</h2>
                <hr class="light">
                <p>
                    몬스터 <span style="font-weight:bold; font-size: 30px">1명</span>의 작은 바램에서 시작!<br>
                    대구20대철인클럽의 전신으로<br>
                    지금의 블루몬스터로 오기까지 <span style="font-weight:bold; font-size: 30px">6년</span> <br>
                    우리와 함께 완주한 몬스터 100여명<br>
                    현재 <span style="font-weight:bold; font-size: 30px">40명</span>이 넘는 몬스터가 파랑의 기운을 떨치고 있습니다.
                </p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
