<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">우리와 소통해요!</h2>
                <hr class="primary">
                <p>우리와 함께 하고 싶은가요?<br>
                    심장이 뛰고 있나요?</p>
            </div>
        <div class="col-lg-3"></div>
        <div class="col-lg-3 text-center">
            <a style="color: #0F52BA; text-decoration: none" href="https://cafe.naver.com/daegu2030ironclub">
            <i class="fa fa-home fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.naver_username }}</p>
            </a>
        </div>
        <div class="col-lg-3 text-center">
            <a style="color: #0F52BA; text-decoration: none" href="https://www.instagram.com/bluemonster_triathlon/">
                <i class="fa fa-instagram fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.instagram_username }}</p>
            </a>
        </div>
        <div class="col-lg-3"></div>
    </div>
</section>
